*{
  box-sizing: border-box;
}

html,body,#root {
  height:100%;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
  font-weight: 200;
  color: #3b414c;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app {
  white-space: nowrap;
  height:100%;
}

.loginpanel {
  background: #eee;
  width:100%;
  height:100%;
}

.loginwindow {
  display:block;
  background: #fff;
  width: 50%;
  padding: 10px 10px 10px 10px;
  margin:auto;
  margin-top:10%;
  float:center;
  vertical-align: middle;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); 
}
.loginwindow li.title {
  width:100%;
  font-size:24px;
  text-align: center;
  font-weight:bold;
  margin-bottom:25px;
}
.loginwindow input {
  width:100%;
  height:30px;
  font-size:15px;
  text-align:center;
}
.loginwindow input::-webkit-input-placeholder {
  color: #ddd;
  font-size:15px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  padding: 5px;
}
.loginwindow input::-moz-placeholder {
  color: #ddd;
  font-size:15px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  padding: 5px;
}
.loginwindow input::-ms-input-placeholder {
  color: #ddd;
  font-size:15px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  padding: 5px;
}
.loginwindowbutton {
  width:100%;
  height:35px;
  font-weight: bold;
  color: white;
  background-color: #E8AF11; /* Yellow */
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius:12px;
  margin:10px 0px 0px 0px;
}

.admininfo {
  width:100%;
  height:80px;
  background-color: #E8AF11; /* Yellow */
  color:white;
}
.admininfo ul{
  list-style-type: none;
}
.admininfo li{
  list-style-type: none;
  content: "";
  font-size:15px;
  margin-left:15px;
}
.admininfo li.title{
  font-size:40px;
  font-weight:bold;
  margin-left:0px;
  margin-bottom:0px;
  text-align:center;
}
.admininfologoutbutton {
  width:100px;
  height:30px;
  background-color:white;
  color:black; /* Yellow */
  font-weight:bold;
  margin-left:20px;
}
.syncadmin {
  width:60px;
  height:30px;
  background-color:white;
  color:black; /* Yellow */
  font-weight:bold;
  margin-left:20px; 
}
.recommendeeTap{
  width:100%;
  height:30px;
  font-weight: 500;
  color: white;
  background-color: black; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding-bottom: 5px;
  margin:-5px 0px 10px 0px;
}

.submitbuton{
  width:48%;
  height:30px;
  font-weight: 200;
  color: white;
  background-color: #E8AF11; /* Yellow */
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius:12px;
  margin:0px 0px 20px 0px;
}
.initrecommendbuton{
  width:48%;
  height:30px;
  font-weight: 200;
  color: white;
  background-color: #E8AF11; /* Yellow */
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius:12px;
  margin:0px 0px 20px 0px;
}


.list, .userlist, .eventlist, .recommendeelist, .recommenderlist {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  height: 100%;
  width: 25%;
  padding: 0 20px;
  overflow: auto;
}
.newRecommendLi{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width:100%;
  height:20px;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size:14px;
  background-color:rgba(255,0,0,0.35);
  margin-bottom:5px;
}
.exiRecommendLi{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width:100%;
  height:20px;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size:14px;
  background-color:black;
  margin-bottom:5px;
}
.userlist:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 99%;
  background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
}

.eventlist:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 99%;
  background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
}

.recommendeelist:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 99%;
  background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
}

.card, .usercard, .eventcard, .recommendcard {
  position: relative;
  z-index: 1;
  background: #fff;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.detailRegion{
  position: relative;
  z-index: 1;
  background: rgba(53,168,250,0.1);
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid rgba(53,168,250,0.1);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.recoindex{
  text-align: center;
}

.otherusercard {
  position: relative;
  z-index: 1;
  background: rgba(53,168,250,0.1);
  font-weight: 600;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.usercard__click {
  position: relative;
  z-index: 1;
  background: rgba(255,243,0,0.15);
  font-weight: 600;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.eventcard__click {
  position: relative;
  z-index: 1;
  background: rgba(255,243,0,0.1);
  font-weight: 600;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.recommend_card_click {
  font-weight: bold;
  border-bottom: solid 5px transparent;
}

.card__title, .usercard__title, .eventcard__title {
  font-weight: bold;
  border-bottom: solid 5px transparent;
}

.card__title:before {
  display: inline-block;
  width: 1em;
  content: '▸';
}

.card__title--is-open:before {
  content: '▾';
}

.checklist__task:first-child {
  margin-top: 10px;
  padding-top: 10px;
  border-top: dashed 1px #ddd;
}

.checklist__task--remove:after{
  display: inline-block;
  color: #d66;
  content: "✖";
}

.checklist--add-task {
  border: 1px dashed #bbb;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px;
}
